{% extends 'boats/base.html' %}
{% block title %}Competitions{% endblock %}
{% block body %}
{% if competitions %}
{% for comp in competitions %}
<div class="card-body">
    <div class="row">
        <div style="height: 180px; width: 200px" class="col-xs-2 col-md-2">
                <img style="border: 3px solid #000000;" src="{{ comp.logo }}" title="{{ comp.comp_title }}" width="100%" height="100%">
        </div>
        <div class="col-xs-6 col-md-6">
            <h4 class="product-name"><span style="color: black">{{ comp.comp_title }}</span></h4><br>
            <h6><span style="color: black">{{ comp.comp_type }}</span></h6><br>
            <h6><span style="color: black">{{ comp.date }}</span></h6><br>
        </div>
        <div class="col-xs-6 col-md-4 row">
            <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
                <h6><strong>Member: <span class="text-muted">{{ comp.member_boat_id }}</span></strong></h6>
                <h6><strong>Place: <span class="text-muted">{{ comp.place }}</span></strong></h6>
            </div>
            <div class="col-xs-2 col-md-2">
                {% for boat in boats %}
                {% if comp.member_boat_id_id == boat.id %}
                <a href="{% url 'boats:boat_detail'  boat.id %}">
                    <button type="button" class="btn btn-outline-secondary">
                    <span class="fa fa-trash">Details</span>
                </button>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
</div>

{% endfor %}
{% else %}
        <h3>You don't have boats</h3>
{% endif %}
{% endblock %}