{% extends 'boats/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
{% load staticfiles %}

<div class="container-fluid">

    <div class="row">
        <div align="right" class="col-sm-1 col-md-4">
        </div>
        <div align="right" class="col-sm-1 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Register for an Account</h3>
                    {% if registered %}
                        <p><strong>Thank you for registering!</strong></p>
                    {% else %}

                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ user_form.as_p }}
                            {{ profile_form.as_p }}
                            <input class="btn btn-outline-secondary" type="submit" name="" value="Register">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}